<div class="main">
  <div class="titulo">
    <h1>Nova Tarefa</h1>
  </div>

  <%= render "form", task: @task %>

  <br>

  <div class="back">
    <%= link_to "Voltar para tarefas", tasks_path %>
  </div>
</div>
